body {
  font-family: "Times New Roman", Times, serif;
  text-decoration-color: aliceblue;
  background-color: rgb(15, 19, 18);
}
h1 {
  color: bisque;
}
h2 {
  color: bisque;
}
h3 {
  color: bisque;
}

#gameBoard {
  background-color: rgb(250, 180, 193);
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  max-width: 19rem;
}
#gameBoard span {
  background-color: rgb(180, 71, 71);
  cursor: pointer;
  display: grid;
  place-content: center;
  font-size: 5rem;
}

#gameBoard span.win {
  background-color: rgb(143, 233, 233);
}
